Repository openstack/trove: changes, and which Zuul jobs are due for each by the changed paths.
All: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12, trove-ubuntu-guest-image-build, trove-centos8s-guest-image-build

trove-functional-mysql:
  parent: trove-devstack-base
  nodeset: trove-ubuntu-bionic
  timeout: 10800
  vars:
    devstack_localrc:
      TROVE_RESIZE_TIME_OUT: 1800
    trove_resize_time_out: 1800
    trove_test_datastore: mysql
    trove_test_group: mysql
    trove_test_datastore_version: 5.7.29

trove-functional-mysql-nondev:
  parent: trove-devstack-base
  vars:
    devstack_localrc:
      TROVE_RESIZE_TIME_OUT: 1800
      TROVE_NON_DEV_IMAGE_URL: https://tarballs.opendev.org/openstack/trove/images/trove-master-mysql-ubuntu-xenial.qcow2
    trove_resize_time_out: 1800
    trove_test_datastore: mysql
    trove_test_group: mysql
  ...

trove-scenario-cassandra-single:
  parent: trove-devstack-base
  vars:
    trove_test_datastore: cassandra
    trove_test_group: cassandra-supported-single
    devstack_localrc:
      TROVE_ENABLE_IMAGE_BUILD: false

trove-scenario-cassandra-multi:
  parent: trove-devstack-base
  vars:
    trove_test_datastore: cassandra
    trove_test_group: cassandra-supported-multi
    devstack_localrc:
      TROVE_ENABLE_IMAGE_BUILD: false

trove-scenario-couchdb-single:
  parent: trove-devstack-base
  vars:
    trove_test_datastore: couchdb
    trove_test_group: couchdb-supported-single
    devstack_localrc:
      TROVE_ENABLE_IMAGE_BUILD: false

trove-scenario-couchbase-single:
  parent: trove-devstack-base
  vars:
    trove_test_datastore: couchbase
    trove_test_group: couchbase-supported-single
    devstack_localrc:
      TROVE_ENABLE_IMAGE_BUILD: false

trove-scenario-mariadb-single:
  parent: trove-devstack-base
  vars:
    trove_test_datastore: mariadb
    trove_test_group: mariadb-supported-single
    trove_test_datastore_version: 10.4.12
    devstack_localrc:
      TROVE_ENABLE_IMAGE_BUILD: false

trove-scenario-mariadb-multi:
  parent: trove-devstack-base
  vars:
    trove_test_datastore: mariadb
    trove_test_group: mariadb-supported-multi
    trove_test_datastore_version: 10.4.12
    devstack_localrc:
      TROVE_ENABLE_IMAGE_BUILD: false

trove-scenario-mysql-single:
  parent: trove-devstack-base
  vars:
    trove_test_datastore: mysql
    trove_test_group: mysql-supported-single
    trove_test_datastore_version: 5.7.29

trove-scenario-mysql-multi:
  parent: trove-devstack-base
  vars:
    trove_test_datastore: mysql
    trove_test_group: mysql-supported-multi
    trove_test_datastore_version: 5.7.29

trove-scenario-percona-multi:
  parent: trove-devstack-base
  vars:
    trove_test_datastore: percona
    trove_test_group: percona-supported-multi
    devstack_localrc:
      TROVE_ENABLE_IMAGE_BUILD: false

trove-scenario-percona-single:
  parent: trove-devstack-base
  vars:
    trove_test_datastore: percona
    trove_test_group: percona-supported-single
    devstack_localrc:
      TROVE_ENABLE_IMAGE_BUILD: false

trove-scenario-postgresql-single:
  parent: trove-devstack-base
  vars:
    trove_test_datastore: postgresql
    trove_test_group: postgresql-supported-single
    devstack_localrc:
      TROVE_ENABLE_IMAGE_BUILD: false

CI: push images to quay.io
  playbooks/image-build/docker-registry.yaml
  playbooks/image-build/pre.yaml
  zuul.d/jobs.yaml
  zuul.d/nodesets.yaml
  zuul.d/projects.yaml
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

[CI] Follow up: I7baf7391d2bc7f0f17f525792eff5c0c82e41b42
  playbooks/image-build/docker-registry.yaml
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Using quay.io registry in project
  backup/Dockerfile
  devstack/plugin.sh
  devstack/settings
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Working on missing postgresql features
  .gitignore
  trove/common/db/models.py
  trove/conductor/manager.py
  trove/db/sqlalchemy/session.py
  trove/extensions/common/common.py
  trove/extensions/common/models.py
  trove/extensions/common/service.py
  trove/extensions/common/views.py
  trove/extensions/mgmt/instances/models.py
  trove/extensions/mgmt/instances/service.py
  trove/extensions/mysql/__init__.py
  trove/extensions/mysql/models.py
  trove/extensions/mysql/service.py
  trove/extensions/mysql/views.py
  trove/extensions/routes/mysql.py
  trove/instance/service.py
  trove/taskmanager/models.py
  trove/tests/unittests/mysql/test_common.py
  trove/tests/unittests/mysql/test_user_controller.py
  trove/tests/unittests/taskmanager/test_models.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Fix: trovestack failed to build images
  integration/scripts/trovestack
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12, trove-ubuntu-guest-image-build, trove-centos8s-guest-image-build

[CI]: run perodical jobs on master branch only
  zuul.d/projects.yaml
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest

Remove python3-venv if is_fedora is true
  integration/scripts/trovestack
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12, trove-ubuntu-guest-image-build, trove-centos8s-guest-image-build

Fix missing instance_ports_cache options
  tox.ini
  trove/common/cache.py
  trove/common/cfg.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

[CI]: fix unittest failure
  trove/tests/unittests/cluster/test_cluster_controller.py
  trove/tests/unittests/cluster/test_cluster_pxc_controller.py
  trove/tests/unittests/cluster/test_cluster_redis_controller.py
  trove/tests/unittests/cluster/test_cluster_vertica_controller.py
  trove/tests/unittests/configuration/test_configuration_controller.py
  trove/tests/unittests/instance/test_instance_controller.py
  trove/tests/unittests/mysql/test_user_controller.py
Due: trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Replace oslo_utils.encodeutils.exception_to_unicode
  trove/common/extensions.py
  trove/common/wsgi.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Support new storage driver for backup objects
  api-ref/source/backups.inc
  api-ref/source/parameters.yaml
  api-ref/source/samples/backup-create-request.json
  api-ref/source/samples/backup-create-response.json
  api-ref/source/samples/backup-get-response.json
  api-ref/source/samples/backup-list-response.json
  doc/source/admin/run_trove_in_production.rst
  releasenotes/notes/story-2010956-73a2e2436e84e6c3.yaml
  trove/backup/models.py
  trove/backup/service.py
  trove/common/cfg.py
  trove/db/sqlalchemy/migrations/versions/7ee6154548a6_add_storage_driver_to_backups_table.py
  trove/guestagent/api.py
  trove/guestagent/common/operating_system.py
  trove/guestagent/datastore/manager.py
  trove/guestagent/datastore/mariadb/manager.py
  trove/guestagent/datastore/mariadb/service.py
  trove/guestagent/datastore/mysql/manager.py
  trove/guestagent/datastore/mysql/service.py
  trove/guestagent/datastore/mysql_common/manager.py
  trove/guestagent/datastore/mysql_common/service.py
  trove/guestagent/datastore/postgres/manager.py
  trove/guestagent/datastore/postgres/service.py
  trove/guestagent/datastore/service.py
  trove/guestagent/strategies/replication/mysql_base.py
  trove/guestagent/strategies/replication/mysql_gtid.py
  trove/guestagent/strategies/replication/postgresql.py
  trove/instance/models.py
  trove/taskmanager/manager.py
  trove/taskmanager/models.py
  trove/tests/unittests/backup/test_backup_models.py
  trove/tests/unittests/common/test_trove_remote.py
  trove/tests/unittests/taskmanager/test_manager.py
  trove/tests/unittests/taskmanager/test_models.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Install and configure the Trove dashboard - several improvements
  doc/source/install/dashboard.rst
Due: none

doc: Use dnf instead of yum
  doc/source/install/index.rst
  doc/source/install/install-rdo.rst
Due: none

Optimize the link address in docs
  doc/source/install/next-steps.rst
  doc/source/install/verify.rst
Due: none

update config parameters
  trove/templates/mysql/validation-rules.json
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Do not try to split packages if None provided
  trove/guestagent/api.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Change the default configuration value
  trove/common/cfg.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Fix typo
  playbooks/image-build/docker-registry.yaml
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Do not install ceilometerclient
  integration/scripts/localrc.rc
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12, trove-ubuntu-guest-image-build, trove-centos8s-guest-image-build

Switch ceilometer backend
  integration/scripts/localrc.rc
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12, trove-ubuntu-guest-image-build, trove-centos8s-guest-image-build

Drop logic for nova-network
  integration/scripts/conf/test_begin.conf
  integration/scripts/localrc.rc
  integration/scripts/trovestack
  integration/scripts/trovestack.rc
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12, trove-ubuntu-guest-image-build, trove-centos8s-guest-image-build

Change the default configuration value - volume_fstype
  releasenotes/notes/change-default-configuration-value-volume_fstype.yaml
  trove/common/cfg.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Add cinder storage driver tests
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest

Update .gitreview for stable/2025.1
  .gitreview
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest

Update TOX_CONSTRAINTS_FILE for stable/2025.1
  tox.ini
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest

Update master for stable/2025.1
  releasenotes/source/2025.1.rst
  releasenotes/source/index.rst
Due: none

Add support for PostgreSQL 13 and above.
  releasenotes/notes/fix-support-postgresql-v13-and-above-90ba30c4ab62df3d.yaml
  trove/common/template.py
  trove/templates/postgresql/config.template
  trove/templates/postgresql/validation-rules.json
  trove/tests/unittests/common/test_template.py
  trove/tests/unittests/taskmanager/test_models.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Fix bug: "TROVE_USE_MOD_WSGI" always TRUE.
  devstack/plugin.sh
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Update docs for Ubuntu 20.04
  doc/source/install/apache-mod-wsgi.rst
  doc/source/install/install-devstack.rst
  doc/source/install/install-manual.rst
  doc/source/install/install-ubuntu.rst
Due: none

Remove unnecessary +x mode
  api-ref/source/conf.py
  api-ref/source/index.rst
  api-ref/source/parameters.yaml
  doc/source/conf.py
Due: none

Fix trove install failed
  devstack/plugin.sh
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Increase max_file_size for container
  devstack/README.rst
  doc/source/install/install-devstack.rst
Due: none

Fix typo in link for documentation
  devstack/README.rst
Due: none

Change settings for stable/2025.1
  devstack/settings
  integration/scripts/files/elements/guest-agent/source-repository-guest-agent
  integration/scripts/trovestack
  integration/scripts/trovestack.rc
  trove/common/cfg.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12, trove-ubuntu-guest-image-build, trove-centos8s-guest-image-build

Path conditions:
  trove-functional-mysql: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-functional-mysql-nondev: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-cassandra-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-cassandra-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-couchdb-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-couchbase-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mariadb-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mariadb-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mysql-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mysql-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-percona-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-percona-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-postgresql-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-postgresql-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-pxc-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-pxc-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-redis-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-redis-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-tox-bandit-baseline: unless all of: ^.*\.rst$, ^.*\.txt$, ^api-ref/.*$, ^contrib/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/scenario/.*$, ^trove/tests/unittests/.*$
  trove-tempest: (unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$) or (unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^\..+)
  trove-tempest-postgres: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini, ^LICENSE$, ^contrib/, ^zuul\.d/, ^\..+, ^trove/guestagent/(mysql.*|mariadb)/.*$, ^trove/guestagent/strategies/replication/(mysql.*|mariadb.*)\.py$
  trove-tempest-ubuntu-base: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^backup/, ^\..+, ^trove/guestagent/strategies/replication/
  trove-tempest-ubuntu-backup: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^\..+, ^trove/guestagent/strategies/replication/
  trove-tempest-ubuntu-replication: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^backup/, ^\..+
  trove-tempest-ubuntu-base-mysql5.7: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^backup/, ^\..+, ^trove/guestagent/strategies/replication/, ^trove/guestagent/datastore/(postgres|mariadb)/.*$
  trove-tempest-ubuntu-backup-mysql5.7: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^\..+, ^trove/guestagent/strategies/replication/, ^trove/guestagent/datastore/(postgres|mariadb)/.*$
  trove-tempest-ubuntu-replication-mysql5.7: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^backup/, ^\..+, ^trove/guestagent/datastore/(postgres|mariadb)/.*$, ^trove/guestagent/strategies/replication/(postgresql.*|mariadb.*)\.py$
  trove-tempest-ubuntu-base-mariadb10.4: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^backup/, ^\..+, ^trove/guestagent/strategies/replication/, ^trove/guestagent/datastore/(mysql.*|postgres)/.*$
  trove-tempest-ubuntu-backup-mariadb10.4: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^\..+, ^trove/guestagent/strategies/replication/, ^trove/guestagent/datastore/(mysql.*|postgres)/.*$
  trove-tempest-ubuntu-replication-mariadb10.4: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^backup/, ^\..+, ^trove/guestagent/datastore/(mysql.*|postgres)/.*$, ^trove/guestagent/strategies/replication/(postgresql.*|mysql.*)\.py$
  trove-tempest-ubuntu-base-postgresql12: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^backup/, ^\..+, ^trove/guestagent/strategies/replication/, ^trove/guestagent/datastore/(mysql.*|mariadb)/.*$
  trove-tempest-ubuntu-backup-postgresql12: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^\..+, ^trove/guestagent/strategies/replication/, ^trove/guestagent/datastore/(mysql.*|mariadb)/.*$
  trove-tempest-ubuntu-replication-postgresql12: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^backup/, ^\..+, ^trove/guestagent/datastore/(mysql.*|mariadb)/.*$, ^trove/guestagent/strategies/replication/(mariadb.*|mysql.*)\.py$
  trove-ubuntu-guest-image-build: any of: ^integration/(scripts|tests)/
  trove-centos8s-guest-image-build: any of: ^integration/(scripts|tests)/
