Repository openstack/trove: changes, and which Zuul jobs are due for each by the changed paths.
All: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12, trove-ubuntu-guest-image-build, trove-centos8s-guest-image-build

Path conditions:
  trove-functional-mysql: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-functional-mysql-nondev: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-cassandra-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-cassandra-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-couchdb-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-couchbase-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mariadb-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mariadb-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mysql-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mysql-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-percona-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-percona-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-postgresql-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-postgresql-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-pxc-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-pxc-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-redis-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-redis-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-tox-bandit-baseline: unless all of: ^.*\.rst$, ^.*\.txt$, ^api-ref/.*$, ^contrib/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/scenario/.*$, ^trove/tests/unittests/.*$
  trove-tempest: (unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$) or (unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^\..+)
  trove-tempest-postgres: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini, ^LICENSE$, ^contrib/, ^zuul\.d/, ^\..+, ^trove/guestagent/(mysql.*|mariadb)/.*$, ^trove/guestagent/strategies/replication/(mysql.*|mariadb.*)\.py$
  trove-tempest-ubuntu-base: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^backup/, ^\..+, ^trove/guestagent/strategies/replication/
  trove-tempest-ubuntu-backup: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^\..+, ^trove/guestagent/strategies/replication/
  trove-tempest-ubuntu-replication: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^backup/, ^\..+
  trove-tempest-ubuntu-base-mysql5.7: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^backup/, ^\..+, ^trove/guestagent/strategies/replication/, ^trove/guestagent/datastore/(postgres|mariadb)/.*$
  trove-tempest-ubuntu-backup-mysql5.7: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^\..+, ^trove/guestagent/strategies/replication/, ^trove/guestagent/datastore/(postgres|mariadb)/.*$
  trove-tempest-ubuntu-replication-mysql5.7: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^backup/, ^\..+, ^trove/guestagent/datastore/(postgres|mariadb)/.*$, ^trove/guestagent/strategies/replication/(postgresql.*|mariadb.*)\.py$
  trove-tempest-ubuntu-base-mariadb10.4: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^backup/, ^\..+, ^trove/guestagent/strategies/replication/, ^trove/guestagent/datastore/(mysql.*|postgres)/.*$
  trove-tempest-ubuntu-backup-mariadb10.4: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^\..+, ^trove/guestagent/strategies/replication/, ^trove/guestagent/datastore/(mysql.*|postgres)/.*$
  trove-tempest-ubuntu-replication-mariadb10.4: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^backup/, ^\..+, ^trove/guestagent/datastore/(mysql.*|postgres)/.*$, ^trove/guestagent/strategies/replication/(postgresql.*|mysql.*)\.py$
  trove-tempest-ubuntu-base-postgresql12: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^backup/, ^\..+, ^trove/guestagent/strategies/replication/, ^trove/guestagent/datastore/(mysql.*|mariadb)/.*$
  trove-tempest-ubuntu-backup-postgresql12: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^\..+, ^trove/guestagent/strategies/replication/, ^trove/guestagent/datastore/(mysql.*|mariadb)/.*$
  trove-tempest-ubuntu-replication-postgresql12: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^backup/, ^\..+, ^trove/guestagent/datastore/(mysql.*|mariadb)/.*$, ^trove/guestagent/strategies/replication/(mariadb.*|mysql.*)\.py$
  trove-ubuntu-guest-image-build: any of: ^integration/(scripts|tests)/
  trove-centos8s-guest-image-build: any of: ^integration/(scripts|tests)/

Introduces Alembic database migration tool
  doc/source/admin/run_trove_in_production.rst
  releasenotes/notes/support-alembic-database-migration-tool-4e02523e22cc62fa.yaml
  requirements.txt
  trove/db/sqlalchemy/alembic.ini
  trove/db/sqlalchemy/api.py
  trove/db/sqlalchemy/mappers.py
  trove/db/sqlalchemy/migrations/README
  trove/db/sqlalchemy/migrations/env.py
  trove/db/sqlalchemy/migrations/script.py.mako
  trove/db/sqlalchemy/migrations/versions/5c68b4fb3cd1_add_datastore_version_registry_extension.py
  trove/db/sqlalchemy/migrations/versions/906cffda7b29_init_trove_db.py
  trove/db/sqlalchemy/migrations/versions/cee1bcba3541_drop_migrate_version_table.py
  trove/db/sqlalchemy/session.py
  trove/guestagent/datastore/mysql/service.py
  trove/guestagent/datastore/mysql_common/service.py
  trove/guestagent/utils/mysql.py
  trove/tests/unittests/cluster/test_galera_cluster.py
  trove/tests/unittests/common/test_template.py
  trove/tests/unittests/conductor/test_methods.py
  trove/tests/unittests/configuration/test_service.py
  trove/tests/unittests/datastore/base.py
  trove/tests/unittests/db/test_db_sqlalchemy_api.py
  trove/tests/unittests/db/test_migration_utils.py
  trove/tests/unittests/extensions/mgmt/datastores/test_service.py
  trove/tests/unittests/extensions/mgmt/instances/test_models.py
  trove/tests/unittests/extensions/mgmt/instances/test_service.py
  trove/tests/unittests/extensions/mgmt/quota/test_service.py
  trove/tests/unittests/instance/test_instance_models.py
  trove/tests/unittests/instance/test_instance_status.py
  trove/tests/unittests/instance/test_service.py
  trove/tests/unittests/module/test_module_models.py
  trove/tests/unittests/taskmanager/test_galera_clusters.py
  trove/tests/unittests/taskmanager/test_models.py
  zuul.d/jobs.yaml
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Use policy to determine admin context
  etc/trove/trove.conf.test
  releasenotes/notes/deprecate-admin-roles-4c42d4be4e8ee950.yaml
  trove/common/cfg.py
  trove/common/policies/base.py
  trove/common/policy.py
  trove/common/wsgi.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

[CI] fix trove gate
  devstack/plugin.sh
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Add UID/GID configurations for each datastore
  doc/source/admin/run_trove_in_production.rst
  releasenotes/notes/support-configuring-uid-gid-each-datastore-1afd2b76832b716e.yaml
  trove/cmd/guest.py
  trove/common/cfg.py
  trove/guestagent/datastore/mysql_common/manager.py
  trove/guestagent/datastore/mysql_common/service.py
  trove/guestagent/datastore/postgres/manager.py
  trove/guestagent/datastore/postgres/service.py
  trove/guestagent/datastore/service.py
  trove/guestagent/strategies/replication/postgresql.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

guestagent: implement 'rebuild' for postgres manager
  releasenotes/notes/add-support-rebuild-postgresql-instances-2b5204492fac5d78.yaml
  trove/guestagent/datastore/postgres/manager.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Replace deprecated LegacyEngineFacade
  trove/cmd/common.py
  trove/cmd/manage.py
  trove/cmd/status.py
  trove/configuration/models.py
  trove/datastore/models.py
  trove/db/sqlalchemy/api.py
  trove/db/sqlalchemy/session.py
  trove/tests/unittests/util/util.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Drop centos8-stream jobs
  zuul.d/jobs.yaml
  zuul.d/nodesets.yaml
  zuul.d/projects.yaml
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest

Update .gitreview for stable/2024.2
  .gitreview
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest

Update TOX_CONSTRAINTS_FILE for stable/2024.2
  tox.ini
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest

Update master for stable/2024.2
  releasenotes/source/2024.2.rst
  releasenotes/source/index.rst
Due: none

Remove unused dependencies
  integration/scripts/files/deprecated-elements/fedora-guest/install.d/15-trove-dep
  integration/scripts/files/requirements/fedora-requirements.txt
  integration/scripts/files/requirements/ubuntu-requirements.txt
  integration/scripts/projects-list
  requirements.txt
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12, trove-ubuntu-guest-image-build, trove-centos8s-guest-image-build

Remove workaround for eventlet < 0.27.0
  requirements.txt
  trove/cmd/__init__.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Make more flexible with locality options
  trove/instance/service.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

[CI] Remove periodic jobs from unmaintained branch
  zuul.d/projects.yaml
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest

[CI] Remove periodic jobs from unmaintained branch
  .zuul.yaml
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest

[stable-only] Cap setuptools <71.0.0
  tox.ini
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest

Remove Python 3.8 support
  releasenotes/notes/remove-py38-36acc6f5340ac604.yaml
  setup.cfg
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Follow up: Add Datastore Version Registry Extension
  api-ref/source/samples/datastore-version-show-response.json
  releasenotes/notes/fix-db-migration-b47ae342b4645b66.yaml
  trove/datastore/models.py
  trove/db/sqlalchemy/migrations/versions/5c68b4fb3cd1_add_datastore_version_registry_extension.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Remove default override for config options policy_file
  requirements.txt
  trove/common/policy.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Change settings for stable/2024.2
  devstack/settings
  integration/scripts/files/elements/guest-agent/source-repository-guest-agent
  integration/scripts/trovestack
  integration/scripts/trovestack.rc
  trove/common/cfg.py
  trove/guestagent/api.py
  zuul.d/jobs.yaml
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12, trove-ubuntu-guest-image-build, trove-centos8s-guest-image-build

Fix MariaDB target dir for backup syntax
  backup/drivers/mariabackup.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-backup-postgresql12

Update .gitreview for unmaintained/2023.1
  .gitreview
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest

reno: Update master for unmaintained/2023.1
  releasenotes/source/2023.1.rst
Due: none

Add note about requirements lower bounds
  requirements.txt
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Drop duplicated doc requirements
  doc/requirements.txt
  test-requirements.txt
  tox.ini
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest

Remove pylint target
  test-requirements.txt
  tox.ini
  trove/db/sqlalchemy/session.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Ignore config/policy sample file for doc build
  .gitignore
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest

Use venv to install diskimage-builder
  integration/scripts/trovestack
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12, trove-ubuntu-guest-image-build, trove-centos8s-guest-image-build

Remove diskimage-builder requirement
  requirements.txt
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Fix replication detach error
  releasenotes/notes/fix-replication-detach-a21f29c89d089f9b.yaml
  trove/guestagent/datastore/mysql_common/service.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7

Update gate jobs as per the 2025.1 cycle testing runtime
  test-requirements.txt
  zuul.d/jobs.yaml
  zuul.d/nodesets.yaml
  zuul.d/projects.yaml
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest
