Repository openstack/trove: changes, and which Zuul jobs are due for each by the changed paths.
All: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12, trove-ubuntu-guest-image-build, trove-centos8s-guest-image-build

Path conditions:
  trove-functional-mysql: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-functional-mysql-nondev: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-cassandra-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-cassandra-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-couchdb-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-couchbase-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mariadb-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mariadb-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mysql-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mysql-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-percona-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-percona-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-postgresql-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-postgresql-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-pxc-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-pxc-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-redis-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-redis-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-tox-bandit-baseline: unless all of: ^.*\.rst$, ^.*\.txt$, ^api-ref/.*$, ^contrib/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/scenario/.*$, ^trove/tests/unittests/.*$
  trove-tempest: (unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$) or (unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^\..+)
  trove-tempest-postgres: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini, ^LICENSE$, ^contrib/, ^zuul\.d/, ^\..+, ^trove/guestagent/(mysql.*|mariadb)/.*$, ^trove/guestagent/strategies/replication/(mysql.*|mariadb.*)\.py$
  trove-tempest-ubuntu-base: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^backup/, ^\..+, ^trove/guestagent/strategies/replication/
  trove-tempest-ubuntu-backup: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^\..+, ^trove/guestagent/strategies/replication/
  trove-tempest-ubuntu-replication: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^backup/, ^\..+
  trove-tempest-ubuntu-base-mysql5.7: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^backup/, ^\..+, ^trove/guestagent/strategies/replication/, ^trove/guestagent/datastore/(postgres|mariadb)/.*$
  trove-tempest-ubuntu-backup-mysql5.7: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^\..+, ^trove/guestagent/strategies/replication/, ^trove/guestagent/datastore/(postgres|mariadb)/.*$
  trove-tempest-ubuntu-replication-mysql5.7: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^backup/, ^\..+, ^trove/guestagent/datastore/(postgres|mariadb)/.*$, ^trove/guestagent/strategies/replication/(postgresql.*|mariadb.*)\.py$
  trove-tempest-ubuntu-base-mariadb10.4: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^backup/, ^\..+, ^trove/guestagent/strategies/replication/, ^trove/guestagent/datastore/(mysql.*|postgres)/.*$
  trove-tempest-ubuntu-backup-mariadb10.4: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^\..+, ^trove/guestagent/strategies/replication/, ^trove/guestagent/datastore/(mysql.*|postgres)/.*$
  trove-tempest-ubuntu-replication-mariadb10.4: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^backup/, ^\..+, ^trove/guestagent/datastore/(mysql.*|postgres)/.*$, ^trove/guestagent/strategies/replication/(postgresql.*|mysql.*)\.py$
  trove-tempest-ubuntu-base-postgresql12: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^backup/, ^\..+, ^trove/guestagent/strategies/replication/, ^trove/guestagent/datastore/(mysql.*|mariadb)/.*$
  trove-tempest-ubuntu-backup-postgresql12: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^\..+, ^trove/guestagent/strategies/replication/, ^trove/guestagent/datastore/(mysql.*|mariadb)/.*$
  trove-tempest-ubuntu-replication-postgresql12: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^backup/, ^\..+, ^trove/guestagent/datastore/(mysql.*|mariadb)/.*$, ^trove/guestagent/strategies/replication/(mariadb.*|mysql.*)\.py$
  trove-ubuntu-guest-image-build: any of: ^integration/(scripts|tests)/
  trove-centos8s-guest-image-build: any of: ^integration/(scripts|tests)/

Remove pylint
  pylintrc
  test-requirements.txt
  tools/trove-pylint.README
  tools/trove-pylint.config
  tools/trove-pylint.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Update backup image maintainer
  backup/Dockerfile
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-backup-postgresql12

Add build of modern Ubuntu distributions
  backup/Dockerfile
  playbooks/image-build/docker-registry.yaml
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Added Configuration Template Developer Docs
  doc/source/contributor/datastore-configuration-templates.rst
  doc/source/contributor/index.rst
Due: none

[CI]: Fix the unittest failure
  trove/common/trove_remote.py
  trove/tests/unittests/common/test_trove_remote.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Cleanup setup.py
  setup.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Switch backup build to Ubuntu 24.04
  backup/Dockerfile
  playbooks/image-build/docker-registry.yaml
  releasenotes/notes/backup_image_24.04-3d0f02df002e75e9.yaml
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Add pyproject.toml to support pip 23.1
  pyproject.toml
  requirements.txt
  setup.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Remove installation guide for openSUSE/SLES
  doc/source/install/index.rst
  doc/source/install/install-suse.rst
  trove/guestagent/common/operating_system.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Introduce mariadb_backup backup_strategy
  backup/drivers/mariabackup.py
  backup/main.py
  backup/tests/unittests/drivers/test_mariadb.py
  releasenotes/notes/mariadb-backup-b93c334f06498ff4.yaml
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-backup-postgresql12

Fix cloud-init configuration file issue with duplicate headers
  releasenotes/notes/bug-2011309-bac68bbc7ece4db9.yaml
  trove/instance/models.py
  trove/taskmanager/models.py
  trove/tests/unittests/taskmanager/test_models.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Replace deprecated datetime.datetime.utcnow()
  requirements.txt
  trove/common/timeutils.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Using venv in backup image
  backup/Dockerfile
  trove/guestagent/datastore/mysql_common/service.py
  trove/guestagent/datastore/postgres/service.py
  trove/guestagent/datastore/service.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

docs: add OpenStack-Ansible as an installation method
  doc/source/install/index.rst
  doc/source/install/install-osa.rst
Due: none

[CI]: Add reno package in test-requirement
  test-requirements.txt
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tempest

docs: Add complete instructions for deploying Trove
  doc/source/install/install-devstack.rst
Due: none

Revert "Introduce mariadb_backup backup_strategy"
  backup/drivers/mariabackup.py
  backup/main.py
  backup/tests/unittests/drivers/test_mariadb.py
  releasenotes/notes/mariadb-backup-b93c334f06498ff4.yaml
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-backup-postgresql12

Add mysql-8.0 tests and remove mysql-5.7 support
  backup/Dockerfile
  backup/install.sh
  devstack/plugin.sh
  devstack/settings
  integration/scripts/files/elements/guest-agent/install.d/guest-agent-source-install/31-guest-agent-install
  integration/scripts/files/elements/guest-agent/install.d/guest-agent-source-install/50-trove-image-loader
  integration/scripts/files/elements/guest-agent/install.d/guest-agent-source-install/guest-log-collection.service
  integration/scripts/files/elements/guest-agent/install.d/guest-agent-source-install/trove-image-loader.service
  integration/scripts/files/elements/guest-agent/package-installs.yaml
  trove/guestagent/common/sql_query.py
  zuul.d/jobs.yaml
  zuul.d/nodesets.yaml
  zuul.d/projects.yaml
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12, trove-ubuntu-guest-image-build, trove-centos8s-guest-image-build

Fix PostgreSQL compatibility issues for versions greater than 15
  backup/drivers/postgres.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-backup-postgresql12

Use mariadb-backup binary name for backup
  backup/drivers/mariabackup.py
  backup/tests/unittests/drivers/test_mariadb.py
  releasenotes/notes/mariadb-backup-1cd69e9f82e992fb.yaml
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-backup-postgresql12

Improve stop_slave logic for cinder backup
  trove/guestagent/datastore/mariadb/service.py
  trove/guestagent/datastore/mysql/service.py
  trove/guestagent/datastore/mysql_common/service.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4

Percona: Remove unused replication_password
  trove/common/cfg.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Parse exposed_logs as list in config layer
  trove/common/cfg.py
  trove/guestagent/datastore/manager.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Push datastore image to quay.io to support tests
  playbooks/image-build/docker-registry.yaml
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Fail the backup properly if no backup image is supplied
  trove/guestagent/datastore/service.py
  trove/tests/unittests/guestagent/datastore/test_service.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Drop unused message constant
  trove/common/cfg.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Add swift upload retry mechanism
  backup/storage/swift.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-backup-postgresql12

Fix trove-imager-loader.service not started
  integration/scripts/files/elements/guest-agent/install.d/guest-agent-source-install/50-trove-image-loader
  integration/scripts/files/elements/guest-agent/install.d/guest-agent-source-install/trove-image-loader.service
  integration/scripts/files/elements/guest-agent/post-install.d/31-enable-guest-agent-systemd
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12, trove-ubuntu-guest-image-build, trove-centos8s-guest-image-build

Follow up: Ibd8dbb8ad8fe895ba9d14e00038ed08e99fbfe0c
  backup/storage/swift.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-backup-postgresql12

Change default timeout for mariadb 11.4 & 11.8
  playbooks/image-build/docker-registry.yaml
  playbooks/images/mariadb/11.4/Dockerfile
  playbooks/images/mariadb/11.8/Dockerfile
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Add support for mariadb 11.4 & 11.8
  devstack/plugin.sh
  releasenotes/notes/add-support-mariadb11.4-b4c3358793d40819.yaml
  trove/guestagent/datastore/mariadb/manager.py
  trove/guestagent/datastore/mariadb/service.py
  trove/guestagent/datastore/mysql_common/service.py
  trove/guestagent/datastore/service.py
  trove/guestagent/strategies/replication/mariadb_gtid.py
  trove/guestagent/strategies/replication/mysql_base.py
  trove/guestagent/utils/docker.py
  trove/tests/unittests/guestagent/utils/test_docker.py
  zuul.d/jobs.yaml
  zuul.d/mariadb_jobs.yaml
  zuul.d/projects.yaml
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Remove unicode prefix from code
  trove/common/schemata.py
  trove/tests/unittests/common/test_utils.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Fix small mistake in release note with MariaDB
  releasenotes/notes/add-support-mariadb11.4-b4c3358793d40819.yaml
Due: none

Fix small mistake in README.rst
  README.rst
Due: none

Remove Python 3.9 support
  releasenotes/notes/remove-python39.yaml
  setup.cfg
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Add support for PostgreSQL 16 & 17
  devstack/plugin.sh
  releasenotes/notes/add-support-postgresql17-63a0ff685e4fe197.yaml
  trove/guestagent/datastore/postgres/service.py
  trove/guestagent/utils/docker.py
  zuul.d/jobs.yaml
  zuul.d/postgresql_jobs.yaml
  zuul.d/projects.yaml
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Add support for MySQL 8.4
  backup/install.sh
  devstack/plugin.sh
  devstack/settings
  releasenotes/notes/add-support-mysql8.4-2490b5c87f885b01.yaml
  trove/guestagent/common/sql_query.py
  trove/guestagent/datastore/mariadb/manager.py
  trove/guestagent/datastore/mariadb/service.py
  trove/guestagent/datastore/mysql/manager.py
  trove/guestagent/datastore/mysql/service.py
  trove/guestagent/datastore/mysql_common/manager.py
  trove/guestagent/datastore/mysql_common/service.py
  trove/guestagent/datastore/postgres/manager.py
  trove/guestagent/datastore/postgres/service.py
  trove/guestagent/datastore/service.py
  trove/guestagent/strategies/replication/mysql_gtid.py
  trove/templates/mysql/config.template
  trove/templates/mysql/replica.config.template
  trove/tests/unittests/common/test_template.py
  zuul.d/jobs.yaml
  zuul.d/mysql_job.yaml
  zuul.d/projects.yaml
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12
