Repository openstack/trove: changes, and which Zuul jobs are due for each by the changed paths.
All: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12, trove-ubuntu-guest-image-build, trove-centos8s-guest-image-build

trove-functional-mysql:
  parent: trove-devstack-base
  nodeset: trove-ubuntu-bionic
  timeout: 10800
  vars:
    devstack_localrc:
      TROVE_RESIZE_TIME_OUT: 1800
    trove_resize_time_out: 1800
    trove_test_datastore: mysql
    trove_test_group: mysql
    trove_test_datastore_version: 5.7.29

trove-functional-mysql-nondev:
  parent: trove-devstack-base
  vars:
    devstack_localrc:
      TROVE_RESIZE_TIME_OUT: 1800
      TROVE_NON_DEV_IMAGE_URL: https://tarballs.opendev.org/openstack/trove/images/trove-master-mysql-ubuntu-xenial.qcow2
    trove_resize_time_out: 1800
    trove_test_datastore: mysql
    trove_test_group: mysql
  ...

trove-scenario-cassandra-single:
  parent: trove-devstack-base
  vars:
    trove_test_datastore: cassandra
    trove_test_group: cassandra-supported-single
    devstack_localrc:
      TROVE_ENABLE_IMAGE_BUILD: false

trove-scenario-cassandra-multi:
  parent: trove-devstack-base
  vars:
    trove_test_datastore: cassandra
    trove_test_group: cassandra-supported-multi
    devstack_localrc:
      TROVE_ENABLE_IMAGE_BUILD: false

trove-scenario-couchdb-single:
  parent: trove-devstack-base
  vars:
    trove_test_datastore: couchdb
    trove_test_group: couchdb-supported-single
    devstack_localrc:
      TROVE_ENABLE_IMAGE_BUILD: false

trove-scenario-couchbase-single:
  parent: trove-devstack-base
  vars:
    trove_test_datastore: couchbase
    trove_test_group: couchbase-supported-single
    devstack_localrc:
      TROVE_ENABLE_IMAGE_BUILD: false

trove-scenario-mariadb-single:
  parent: trove-devstack-base
  vars:
    trove_test_datastore: mariadb
    trove_test_group: mariadb-supported-single
    trove_test_datastore_version: 10.4.12
    devstack_localrc:
      TROVE_ENABLE_IMAGE_BUILD: false

trove-scenario-mariadb-multi:
  parent: trove-devstack-base
  vars:
    trove_test_datastore: mariadb
    trove_test_group: mariadb-supported-multi
    trove_test_datastore_version: 10.4.12
    devstack_localrc:
      TROVE_ENABLE_IMAGE_BUILD: false

trove-scenario-mysql-single:
  parent: trove-devstack-base
  vars:
    trove_test_datastore: mysql
    trove_test_group: mysql-supported-single
    trove_test_datastore_version: 5.7.29

trove-scenario-mysql-multi:
  parent: trove-devstack-base
  vars:
    trove_test_datastore: mysql
    trove_test_group: mysql-supported-multi
    trove_test_datastore_version: 5.7.29

trove-scenario-percona-multi:
  parent: trove-devstack-base
  vars:
    trove_test_datastore: percona
    trove_test_group: percona-supported-multi
    devstack_localrc:
      TROVE_ENABLE_IMAGE_BUILD: false

trove-scenario-percona-single:
  parent: trove-devstack-base
  vars:
    trove_test_datastore: percona
    trove_test_group: percona-supported-single
    devstack_localrc:
      TROVE_ENABLE_IMAGE_BUILD: false

trove-scenario-postgresql-single:
  parent: trove-devstack-base
  vars:
    trove_test_datastore: postgresql
    trove_test_group: postgresql-supported-single
    devstack_localrc:
      TROVE_ENABLE_IMAGE_BUILD: false

db: Remove use of autocommit
  trove/backup/models.py
  trove/cmd/status.py
  trove/common/cfg.py
  trove/db/models.py
  trove/db/sqlalchemy/api.py
  trove/db/sqlalchemy/session.py
  trove/instance/models.py
  trove/module/models.py
  trove/tests/unittests/backup/test_backup_controller.py
  trove/tests/unittests/backup/test_backup_models.py
  trove/tests/unittests/cmd/test_status.py
  trove/tests/unittests/util/util.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Retire TripleO: remove the TripleO jobs/ref
  devstack/settings
  integration/scripts/functions
  integration/scripts/image-projects-list
  integration/scripts/trovestack
  zuul.d/deprecated_jobs.yaml
  zuul.d/jobs.yaml
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12, trove-ubuntu-guest-image-build, trove-centos8s-guest-image-build

Establish consistency on db_info.addresses between taskmanager and instance
  trove/instance/models.py
  trove/taskmanager/models.py
  trove/tests/unittests/instance/test_service.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Update .gitreview for stable/2024.1
  .gitreview
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest

Update TOX_CONSTRAINTS_FILE for stable/2024.1
  tox.ini
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest

Update master for stable/2024.1
  releasenotes/source/2024.1.rst
  releasenotes/source/index.rst
Due: none

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/fr/LC_MESSAGES/releasenotes.po
  releasenotes/source/locale/ja/LC_MESSAGES/releasenotes.po
Due: none

Bump hacking
  backup/drivers/xtrabackup.py
  backup/tests/unittests/drivers/test_postgres.py
  backup/tests/unittests/drivers/test_xtrabackup.py
  requirements.txt
  test-requirements.txt
  trove/common/models.py
  trove/common/stream_codecs.py
  trove/common/wsgi.py
  trove/hacking/checks.py
  trove/instance/models.py
  trove/tests/unittests/backup/test_backup_models.py
  trove/tests/unittests/hacking/test_check.py
  trove/tests/unittests/taskmanager/test_models.py
  trove/volume_type/models.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Fix error can't detach the configuration group binding
  trove/instance/service.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

stop using passlib
  integration/scripts/files/requirements/fedora-requirements.txt
  integration/scripts/files/requirements/ubuntu-requirements.txt
  requirements.txt
  trove/common/utils.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12, trove-ubuntu-guest-image-build, trove-centos8s-guest-image-build

Add Datastore Version Registry Extension
  doc/source/cli/trove-manage.rst
  releasenotes/notes/add_datastore_registry_external_to_datastore_verion.yaml
  trove/cmd/guest.py
  trove/cmd/manage.py
  trove/common/apischema.py
  trove/common/cfg.py
  trove/common/constants.py
  trove/datastore/models.py
  trove/datastore/views.py
  trove/db/sqlalchemy/migrate_repo/versions/049_add_registry_ext_to_datastore_version.py
  trove/extensions/mgmt/datastores/service.py
  trove/extensions/mgmt/datastores/views.py
  trove/guestagent/dbaas.py
  trove/guestagent/strategies/replication/__init__.py
  trove/instance/models.py
  trove/tests/unittests/extensions/mgmt/datastores/test_service.py
  trove/tests/unittests/extensions/mgmt/instances/test_models.py
  trove/tests/unittests/instance/test_instance_models.py
  trove/tests/unittests/instance/test_instance_status.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

db: add commit action after querying
  trove/db/sqlalchemy/api.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Retire TripleO: remove the TripleO jobs/ref
  devstack/settings
  integration/scripts/functions
  integration/scripts/image-projects-list
  integration/scripts/trovestack
  zuul.d/jobs.yaml
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12, trove-ubuntu-guest-image-build, trove-centos8s-guest-image-build

Retire TripleO: remove the TripleO jobs/ref
  .coverage
  devstack/settings
  integration/scripts/functions
  integration/scripts/image-projects-list
  integration/scripts/trovestack
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12, trove-ubuntu-guest-image-build, trove-centos8s-guest-image-build

fix error when build mariadb backup docker image
  backup/install.sh
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-backup-postgresql12

Change settings for stable/2024.1
  devstack/settings
  integration/scripts/files/elements/guest-agent/source-repository-guest-agent
  integration/scripts/trovestack
  integration/scripts/trovestack.rc
  trove/common/cfg.py
  trove/guestagent/api.py
  zuul.d/jobs.yaml
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12, trove-ubuntu-guest-image-build, trove-centos8s-guest-image-build

Enable network_isolation by default
  doc/source/admin/network_isolation.rst
  releasenotes/notes/enable-network-isolation-67fc4de3356aa682.yaml
  trove/common/cfg.py
  trove/tests/unittests/taskmanager/test_models.py
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12

Retire TripleO: remove the TripleO jobs/ref
  .gitignore
  devstack/settings
  integration/scripts/functions
  integration/scripts/image-projects-list
  integration/scripts/trovestack
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12, trove-ubuntu-guest-image-build, trove-centos8s-guest-image-build

remove .coverage file from repository
  .coverage
  .gitignore
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest

Change settings for stable/2023.2
  devstack/settings
  integration/scripts/files/elements/guest-agent/source-repository-guest-agent
  integration/scripts/trovestack
  integration/scripts/trovestack.rc
  trove/common/cfg.py
  trove/guestagent/api.py
  zuul.d/jobs.yaml
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12, trove-ubuntu-guest-image-build, trove-centos8s-guest-image-build

Imported Translations from Zanata
  releasenotes/source/locale/en_GB/LC_MESSAGES/releasenotes.po
Due: none

Remove tripleo-image-elements from required project
  .zuul.yaml
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest

Remove extras and enum34
  integration/scripts/files/requirements/fedora-requirements.txt
  integration/scripts/files/requirements/ubuntu-requirements.txt
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tempest, trove-tempest-postgres, trove-tempest-ubuntu-base, trove-tempest-ubuntu-backup, trove-tempest-ubuntu-replication, trove-tempest-ubuntu-base-mysql5.7, trove-tempest-ubuntu-backup-mysql5.7, trove-tempest-ubuntu-replication-mysql5.7, trove-tempest-ubuntu-base-mariadb10.4, trove-tempest-ubuntu-backup-mariadb10.4, trove-tempest-ubuntu-replication-mariadb10.4, trove-tempest-ubuntu-base-postgresql12, trove-tempest-ubuntu-backup-postgresql12, trove-tempest-ubuntu-replication-postgresql12, trove-ubuntu-guest-image-build, trove-centos8s-guest-image-build

Update .gitreview for unmaintained/zed
  .gitreview
Due: trove-functional-mysql, trove-functional-mysql-nondev, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline, trove-tempest

reno: Update master for unmaintained/zed
  releasenotes/source/zed.rst
Due: none

Path conditions:
  trove-functional-mysql: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-functional-mysql-nondev: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-cassandra-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-cassandra-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-couchdb-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-couchbase-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mariadb-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mariadb-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mysql-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mysql-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-percona-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-percona-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-postgresql-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-postgresql-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-pxc-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-pxc-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-redis-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-redis-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-tox-bandit-baseline: unless all of: ^.*\.rst$, ^.*\.txt$, ^api-ref/.*$, ^contrib/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/scenario/.*$, ^trove/tests/unittests/.*$
  trove-tempest: (unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$) or (unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^\..+)
  trove-tempest-postgres: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini, ^LICENSE$, ^contrib/, ^zuul\.d/, ^\..+, ^trove/guestagent/(mysql.*|mariadb)/.*$, ^trove/guestagent/strategies/replication/(mysql.*|mariadb.*)\.py$
  trove-tempest-ubuntu-base: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^backup/, ^\..+, ^trove/guestagent/strategies/replication/
  trove-tempest-ubuntu-backup: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^\..+, ^trove/guestagent/strategies/replication/
  trove-tempest-ubuntu-replication: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^backup/, ^\..+
  trove-tempest-ubuntu-base-mysql5.7: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^backup/, ^\..+, ^trove/guestagent/strategies/replication/, ^trove/guestagent/datastore/(postgres|mariadb)/.*$
  trove-tempest-ubuntu-backup-mysql5.7: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^\..+, ^trove/guestagent/strategies/replication/, ^trove/guestagent/datastore/(postgres|mariadb)/.*$
  trove-tempest-ubuntu-replication-mysql5.7: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^backup/, ^\..+, ^trove/guestagent/datastore/(postgres|mariadb)/.*$, ^trove/guestagent/strategies/replication/(postgresql.*|mariadb.*)\.py$
  trove-tempest-ubuntu-base-mariadb10.4: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^backup/, ^\..+, ^trove/guestagent/strategies/replication/, ^trove/guestagent/datastore/(mysql.*|postgres)/.*$
  trove-tempest-ubuntu-backup-mariadb10.4: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^\..+, ^trove/guestagent/strategies/replication/, ^trove/guestagent/datastore/(mysql.*|postgres)/.*$
  trove-tempest-ubuntu-replication-mariadb10.4: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^backup/, ^\..+, ^trove/guestagent/datastore/(mysql.*|postgres)/.*$, ^trove/guestagent/strategies/replication/(postgresql.*|mysql.*)\.py$
  trove-tempest-ubuntu-base-postgresql12: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^backup/, ^\..+, ^trove/guestagent/strategies/replication/, ^trove/guestagent/datastore/(mysql.*|mariadb)/.*$
  trove-tempest-ubuntu-backup-postgresql12: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^\..+, ^trove/guestagent/strategies/replication/, ^trove/guestagent/datastore/(mysql.*|mariadb)/.*$
  trove-tempest-ubuntu-replication-postgresql12: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^test-requirements.txt$, ^tox.ini$, ^LICENSE$, ^contrib/, ^zuul\.d/, ^backup/, ^\..+, ^trove/guestagent/datastore/(mysql.*|mariadb)/.*$, ^trove/guestagent/strategies/replication/(mariadb.*|mysql.*)\.py$
  trove-ubuntu-guest-image-build: any of: ^integration/(scripts|tests)/
  trove-centos8s-guest-image-build: any of: ^integration/(scripts|tests)/
